# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, build with `go test -c`
*.test
pkg/cache.yaml
cache.yaml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# idea
.idea

# code
.DS_Store

# application
data
