name: Build & Push

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go
      - name: Build
        run: make linux
#      - name: git-tag
#        uses: jenkins-zh/git-tag-actions@master
#        env:
#          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
#      - name: backup
#        uses: jenkins-zh/git-backup-actions@v0.0.3
#        env:
#          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
#          TARGET_GIT: "git@gitee.com:jenkins-zh/mirror-proxy.git"
